h1{
    text-align: center;
    font-family: fantasy;
    color: red;
    font-size: 4em;
}

body{
    background-color: black;
    text-align: center;
}

nav{
    text-align: center;
}

li{
    list-style: none;
    color: red;
}

.big-nav{
    text-align: center;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 40vw;
    width: 80vw;
}

main a{
    color: #00000088;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-out;
}

main a:hover .big-nav img{
    transition: all .3s ease-out;
    width: 70vw;
    height: 35vw;
}

main a:hover{
    transition: all .3s ease-out;
    color: #000;
}

.big-nav img{
    transition: all .3s ease-out;
    height: 40vw;
    width: 80vw;
    object-fit: cover;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.contact{
    text-decoration: none;
}
.bottom{
    display: inline-block;
}
li a:hover{
    color: #FFFFFFFF;
}
p{
    color: red;
    font-family: fantasy;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

