
main {
    position: relative;
    width: 90vw;
    height: 50vh;
    font-weight: bold;
    display: flex;
    text-align: center;
}
.card{
 position: relative;
 top: 50%;
 left:25%;
 margin: 5px;
 margin-bottom:-20px;
}